html {box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* dark-blue: #0c1929 */
/* light-blue: #3672ba */
/* green: #a0af67 */
/* red: #b64f3f */
/* dark-grey: #a0a3a9 */
/* light-grey: #f1edf8 */

body {
	margin: 0;
	padding: 0;
	background: #fff;
	border-top: 6px solid #f1edf8;
	font-size: 16px;
	font-family: Enriqueta, Georgia, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #0a192a;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt {
	margin: 0;
	padding: 0;
	font-weight: normal;
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, Tahoma, Geneva, sans-serif;
}

a:link, a:visited {
	color: #507eb2;
	text-decoration: underline;
}

a:hover, a:active {
	color: #b64f3f;
}









.hide { display: none; }
.left { float: left; }
.right { float: right; }


.pr { padding-right: 10px; }
.pl { padding-left: 10px; }






.container {
	max-width: 1034px;
	margin: 0 auto;
}


.cols {
	font-size: 0;
}

.col {
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
}

.col--1 { width: 8.33%; }
.col--2 { width: 16.67%; }
.col--3 { width: 25%; }
.col--4 { width: 33.33%; }
.col--5 { width: 41.67%; }
.col--6 { width: 50%; }
.col--7 { width: 58.33%; }
.col--8 { width: 66.67%; }
.col--9 { width: 75%; }
.col--10 { width: 83.33%; }
.col--11 { width: 91.67%; }
.col--12 { width: 100%; }




.hero {
	padding-bottom: 24px;
}

.hero h1 {
	margin: 3px 0 -9px -9px;
	font-size: 117px;
	line-height: 110px;
	text-transform: uppercase;
}
.hero h1 small {
	margin-left: -15px;
	font-family: Enriqueta, Georgia, serif;
	font-size: 16px;
	text-transform: none;
	color: #a0a3a9;
}

.hero__meta {
	padding: 1px 10px 10px;
	border-top: 3px solid #a0af67;
	font-size: 21px;
}

.hero__meta p {
	padding-top: 9px;
}

.hero__meta p:nth-child(2) {
	color: #a0af67;
}







.title--section {
	margin-bottom: 33px;
	padding: 34px 10px 19px;
	font-family: Montserrat, Tahoma, Geneva, sans-serif;
	font-size: 21px;
	border-bottom: 3px solid #a0af67;
}


.text--primary {
	padding: 28px 70px 0 7px;
	font-family: Montserrat, Tahoma, Geneva, sans-serif;
	font-size: 21px;
	line-height: 34px;
}
.text--primary, .text--primary p {
	margin-bottom: 35px;
}


.text--block {
	display: inline-block;
	padding: 1px 12px 2px 5px;
	font-family: Montserrat, Tahoma, Geneva, sans-serif;
	background: #0c1929;
	color: #fff;
}




.stats {
	padding: 27px 10px 0 27px;
}

.stats dt {
	font-family: Montserrat, Tahoma, Geneva, sans-serif;
	font-size: 51px;
	color: #3672ba;
}

.stats dd {
	margin-bottom: 32px;
	font-size: 14px;
}




















.content {
	/*width: 61%;*/
	/*font-size: 21px;*/
}
















.image-set {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	overflow: hidden;
}

.image-set img {
	display: none;
}

.image-set__primary {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 66.67%;
}

.image-set__main {
	display: block;
	width: calc(100% - 10px);
	height: 100%;
	background-size: cover;
	background-position: center;
}

.image-set__more {
	position: absolute;
	display: inline-block;
	bottom: 12px;
	right: 22px;
	padding: 13px;
}

.image-set__primary span {
	display: inline-block;
	padding: 2px 8px 4px 17px;
	background: #0c1929;
	color: #fff;
	text-decoration: none;
}

.image-set__main span {
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 0 14px 4px 7px;
	font-size: 21px;
}
.image-set__main:link span, .image-set__main:visited span {
	color: #fff;
	text-decoration: none;
}
.image-set__main:hover span, .image-set__main:active span {
	color: #b64f3f;
}

.image-set__more:link span, .image-set__more:visited span {
	color: #fff;
	text-decoration: none;
}
.image-set__more:hover span, .image-set__more:active span {
	color: #b64f3f;
}




.image-set__grid {
	float: right;
	width: 33.33%;
	font-size: 0;
}

.image-set__grid a {
	display: block;
	float: left;
	width: calc(50% - 15px);
	padding-top: calc(50% - 15px);
	background-size: cover;
	background-position: center;
}

.image-set__grid li:nth-child(1) a { margin-left: 10px; margin-bottom: 20px; }
.image-set__grid li:nth-child(2) a { margin-left: 20px; margin-bottom: 20px; }
.image-set__grid li:nth-child(3) a { margin-left: 10px; }
.image-set__grid li:nth-child(4) a { margin-left: 20px; }




.list {
	padding: 0 10px;
}

.list__item {
	margin-bottom: 32px;
}

.list__item h3 {
	margin-bottom: 14px;
}

.list__item h3, .list__item h3 a {
	color: #3672ba;
	font-size: 21px;
	text-decoration: none;
}
.list__item h3 a:hover, .list__item h3 a:active {
	color: #b64f3f;
}

.list__item h3 small {
	padding-left: 6px;
	font-size: 21px;
	color: #a0a3a9;
}

.list__item p {
	font-size: 16px;
	line-height: 24px;
}


.list--condensed {
	padding-top: 38px;
}

.list--condensed .list__item {
	font-size: 14px;
	line-height: 21px;
}
















#header {
	overflow: auto;
	zoom: 1;
}


#header h1 a {
	display: block;
	float: left;
	margin: 23px 0 17px 0;
	padding: 14px 14px 14px 2px;
	font-size: 24px;
	font-weight: normal;
	color: #a0af67;
	text-decoration: none;
}

#header h1 span {
	color: #0c1929;
}

#header h1 a:hover span, #header h1 a:active span {
	background: #0c1929;
	color: #fff;
}



#menu {
	float: right;
	margin: 37px 0 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

#menu li {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu a {
	display: inline-block;
	padding: 8px 15px 8px 16px;
	font-family: Montserrat, Tahoma, Geneva, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

#menu a:link, #menu a:visited {
	color: #0c1929;
}

#menu a:hover, #menu a:active {
	color: #a0af67;
}





#footer {
	margin-top: 20px;
	border-top: 3px solid #a0af67;
}

#footer p {
	float: left;
	padding: 14px 0;
	font-size: 18px;
}
#footer .right {
	float: right;
}






@media (max-width: 1130px) {

	body {
		padding: 0 48px;
	}

	.container {
		max-width: 100%;
	}
	/*.hero h1 { font-size: 89px; }*/

}














@media (max-width: 900px) {
	.image-set__primary {
		position: relative;
		width: 100%;
		height: 325px;
		margin-right: 0;
	}
	.image-set__main {
		width: 100%;
	}
	.image-set__grid {
		float: none;
		width: 100%;
	}
	.image-set__grid a {
		width: calc(25% - 15px);
		padding-top: calc(25% - 20px);
	}
	.image-set__grid li:nth-child(1) a { margin: 20px 0 0 0; }
	.image-set__grid li:nth-child(2) a { margin: 20px 0 0 20px; }
	.image-set__grid li:nth-child(3) a { margin: 20px 0 0 20px; }
	.image-set__grid li:nth-child(4) a { margin: 20px 0 0 20px; }
}








@media (max-width: 1024px) {
	.hero h1 { font-size: 104px; line-height: 90px; }
}

@media (max-width: 960px) {
	.hero h1 { font-size: 89px; line-height: 78px; margin-left: -6px; }
}

@media (max-width: 820px) {
	.hero h1 { font-size: 62px; line-height: 62px; }
}


@media (max-width: 640px) {
	body { padding: 0 24px; }
	/*#header h1 a { float: none; }*/
	/*#menu { float: none; }*/
	.hero { text-align: center; }
	.hero .text--block { padding-right: 6px; }
	.hero h1 { font-size: 45px; line-height: 48px; }
	.hero h1 br { display: none; }
	.hero h1 small { display: block; margin-left: 0; padding-bottom: 12px; }
	.hero__meta { text-align: left; font-size: 16px; }
}

@media (max-width: 480px) {
	.hero h1 { font-size: 45px; }
	#menu li:nth-child(1) { display: none; }
}





@media (max-width: 480px) {
	body { padding: 0 12px; }
	#header h1 a { float: none; margin: 10px 0 0; text-align: center; }
	#menu { float: none; margin-top: 0; text-align: center; }
	#menu li:nth-child(1) { display: inline-block; }
	.hero { padding-bottom: 0; }
	.hero h1 { font-size: 40px; }
}



@media (max-width: 480px) {
	.col--1 { width: 8.33%; }
	.col--2 { width: 16.67%; }
	.col--3 { width: 100%; }
	.col--4 { width: 100%; }
	.col--5 { width: 41.67%; }
	.col--6 { width: 50%; }
	.col--7 { width: 58.33%; }
	.col--8 { width: 100%; }
	.col--9 { width: 100%; }
	.col--10 { width: 83.33%; }
	.col--11 { width: 91.67%; }
	.col--12 { width: 100%; }
}







